# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE & Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Backup & temp files
*.bak
*.swp
*.tmp

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Pytest
.pytest_cache/